<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <context-param>
        <param-name>config</param-name>
        <param-value>{APP_DIR}/conf/servlet-app-config.yaml</param-value>
    </context-param>
    <listener>
        <listener-class>uapi.app.web.servlet.Bootstrap</listener-class>
    </listener>

    <!--<filter>-->
        <!--<filter-name>UAPIFilter</filter-name>-->
        <!--<filter-class>uapi.app.web.servlet.ServletBootstrap</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>config</param-name>-->
            <!--<param-value>conf/web/servlet-app-config.yaml</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>UAPIFilter</filter-name>-->
        <!--<url-pattern>/</url-pattern>-->
    <!--</filter-mapping>-->
</web-app>